/* CSS for modal contents used in all pages */

/* Scrollable modal for long list of ingredients */
.modal-body {
max-height: calc(100vh - 200px);
overflow-y: auto;
}

.list-group-item:hover {
color:#842029;
background-color:#dfc2c4;
cursor:pointer;
}


