<!--- base.html contains common code to be used in all html files -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="int elligence;">
        <title>{% block title %}{% endblock %}</title>

        <!--- Bootstrap Core Files -->
        <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
        <script src="{{ url_for('static', filename='bootstrap.bundle.min.js')}}"></script>

        <!--- Modal CSS -->
        <link href="{{ url_for('static', filename='modal.css')}}" rel="stylesheet">

        <style>
          .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
          }

          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }
        </style>

        <!--- Other style/script tags used exclusively -->
        {% block head %}{% endblock %}
        {% block styles %}{% endblock %}

    </head>
    <body>
      <!-- Navbar -->
      <header>
        <div class="collapse bg-dark" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About Us</h4>
              <p class="text-muted">Hi, Welcome to HomeCooks! This is a UNSW project presented by us, "int elligence;" for 2021 T1 SENG2021.
                  Our website aims to allow home cooks to be more resourceful and produce less waste when they cook at home using whatever ingredients they have on hand.
                  To find out more, check out the links section.
              </p>
              </div>
              <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Links</h4>
              <ul class="type-unstyled">
                <li><a href="https://github.com/int-elligence2021/int-elligence2021.github.io" class="text-white">Check out our code on GitHub</a></li>
                <li><a href="https://webcms3.cse.unsw.edu.au/SENG2021/21T1/groups/23860" class="text-white">Team Information</a></li>
                <li><a href="https://developer.edamam.com/edamam-docs-recipe-api" class="text-white">Edamam Recpe Search API</a></li>
              </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container">
          <a href="{{ url_for('index') }}" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-egg" viewBox="0 0 16 16">
            <path d="M8 15a5 5 0 0 1-5-5c0-1.956.69-4.286 1.742-6.12.524-.913 1.112-1.658 1.704-2.164C7.044 1.206 7.572 1 8 1c.428 0 .956.206 1.554.716.592.506 1.18 1.251 1.704 2.164C12.31 5.714 13 8.044 13 10a5 5 0 0 1-5 5zm0 1a6 6 0 0 0 6-6c0-4.314-3-10-6-10S2 5.686 2 10a6 6 0 0 0 6 6z"/>
            </svg>
            <strong style="margin-left:2%">HOME COOKS</strong>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          </div>
        </div>
      </header>

        
      {% block content %}
      <!--- File exclusive content -->
      {% endblock %}


      <!---##############################################################################################################################-->

      <!--- Add ingredients modal -->
      <div class="modal fade" id="ingredientsModal" tabindex="-1" aria-labelledby="ingredientsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ingredientsModalLabel">Add Ingredients</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <div class="container">
                <div class="row justify-center">
                  <div class="col-12">
                    <p>Start typing in your ingredients:</p>
                    <div class="input-group mb-3">
                      <input id="typeingredient" type="text" class="form-control" placeholder="Add ingredients" aria-label="Add an item" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-info" id="enteringredients" type="button">Add</button>
                      </div>
                    </div>
            
                  </div>
                  <p>Your ingredients will be listed here:</p>
                  <div class="col-12">
                    <ul class="list-group list-group-flush" id="add_ingredients_list">
                      <li class="list-group-item" onclick="remove_list_item(this)" data-toggle="tooltip" data-placement="top" title="Click to remove">Oil</li>
                      <li class="list-group-item" onclick="remove_list_item(this)" data-toggle="tooltip" data-placement="top" title="Click to remove">Salt</li>
                      <li class="list-group-item" onclick="remove_list_item(this)" data-toggle="tooltip" data-placement="top" title="Click to remove">Vinegar</li>
                      <li class="list-group-item" onclick="remove_list_item(this)" data-toggle="tooltip" data-placement="top" title="Click to remove">Milk</li>
                      <li class="list-group-item" onclick="remove_list_item(this)" data-toggle="tooltip" data-placement="top" title="Click to remove">Sugar</li>
                      <li class="list-group-item" onclick="remove_list_item(this)" data-toggle="tooltip" data-placement="top" title="Click to remove">Flour</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#filtersModal">Add filters</button>
              <button type="button" class="btn btn-primary"><a href="{{ url_for('results_page') }}" style="color:inherit;text-decoration: none">Find recipes</a></button>
            </div>
          </div>
        </div>
      </div>


      <!---##############################################################################################################################-->

      <!--- Add filters modal -->
      <div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="filtersModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="filtersModalLabel">Add filters</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              <h5>List of filters...</h5>
              
              <!--- Accordion for list of filters -->
              <div class="accordion accordion-flush" id="filtersAccordian">

                <!--- Dietary Requirements filter -->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="filterOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapseOne" aria-expanded="false" aria-controls="filterCollapseOne">
                      Dietary Requirements
                    </button>
                  </h2>

                  <div id="filterCollapseOne" class="accordion-collapse collapse" aria-labelledby="filterOne" data-bs-parent="#filtersAccordian">
                    <div class="accordion-body">
                      <p>Select any dietary requirements which you may require:</p>

                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="DR_dairy">
                        <label class="form-check-label" for="DR_dairy">Dairy Free</label>
                      </div>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="DR_egg">
                        <label class="form-check-label" for="DR_egg">Egg Free</label>
                      </div>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="DR_GF">
                        <label class="form-check-label" for="DR_GF">Gluten Free</label>
                      </div>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="DR_nut">
                        <label class="form-check-label" for="DR_nut">Nut free</label>
                      </div>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="DR_halal">
                        <label class="form-check-label" for="DR_halal">Pork Free</label>
                      </div>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="DR_vegan">
                        <label class="form-check-label" for="DR_vegan">Vegan</label>
                      </div>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="DR_vego">
                        <label class="form-check-label" for="DR_vego">Vegetarian</label>
                      </div>

                    </div>
                  </div>
                </div>

              <!--- Nutrition Requirements filter -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="filterTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapseTwo" aria-expanded="false" aria-controls="filterCollapseTwo">
                    Nutrition Requirements
                  </button>
                </h2>
                <div id="filterCollapseTwo" class="accordion-collapse collapse" aria-labelledby="filterTwo" data-bs-parent="#filtersAccordian">
                  <div class="accordion-body">
            
                    <p>Select any nutritional requirements which you may require:</p>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="nutrition1">
                      <label class="form-check-label" for="nutrition1">Balanced</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="nutrition2">
                      <label class="form-check-label" for="nutrition2">High-Fiber</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="nutrition3">
                      <label class="form-check-label" for="nutrition3">High-Protein</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="nutrition4">
                      <label class="form-check-label" for="nutrition4">Low-Carb</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="nutrition5">
                      <label class="form-check-label" for="nutrition5">Low-Fat</label>
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="nutrition6">
                      <label class="form-check-label" for="nutrition6">Low-Sodium</label>
                    </div>

                  </div>
                </div>
              </div>
              

                <!--- Cuisine filter -->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="filterThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapseThree" aria-expanded="false" aria-controls="filterCollapseThree">
                      Cuisine
                    </button>
                  </h2>
                  <div id="filterCollapseThree" class="accordion-collapse collapse" aria-labelledby="filterThree" data-bs-parent="#filtersAccordian">
                    <div class="accordion-body">

                      <p>Select your preferred cuisine</p>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="cuisine" id="cuisine1">
                        <label class="form-check-label" for="cuisine1">
                          American
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="cuisine" id="cuisine2">
                        <label class="form-check-label" for="cuisine2">
                          British
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="cuisine" id="cuisine3">
                        <label class="form-check-label" for="cuisine3">
                          Chinese
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="cuisine" id="cuisine4">
                        <label class="form-check-label" for="cuisine4">
                          French
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="cuisine" id="cuisine5">
                        <label class="form-check-label" for="cuisine5">
                          Indian
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="cuisine" id="cuisine6">
                        <label class="form-check-label" for="cuisine6">
                          Italian
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="cuisine" id="cuisine7">
                        <label class="form-check-label" for="cuisine7">
                          Japanese
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="cuisine" id="cuisine8">
                        <label class="form-check-label" for="cuisine8">
                          Mediterranean
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="cuisine" id="cuisine9">
                        <label class="form-check-label" for="cuisine9">
                          Mexican
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="cuisine" id="cuisine10">
                        <label class="form-check-label" for="cuisine10">
                          Middle Eastern
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="cuisine" id="cuisine11">
                        <label class="form-check-label" for="cuisine11">
                          South East Asian
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="cuisine" id="anycuisine" checked>
                        <label class="form-check-label" for="anycuisine">
                          All of the above
                        </label>
                      </div>
                      
                    </div>
                  </div>
                </div>

                <!--- Dish type filter -->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="filterFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapseFour" aria-expanded="false" aria-controls="filterCollapseFour">
                      Dish type
                    </button>
                  </h2>
                  <div id="filterCollapseFour" class="accordion-collapse collapse" aria-labelledby="filterFour" data-bs-parent="#filtersAccordian">
                    <div class="accordion-body">

                      
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="mealtype" id="alcohol">
                        <label class="form-check-label" for="alcohol">
                          Alcohol
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="mealtype" id="drinks">
                        <label class="form-check-label" for="drinks">
                          Other Drinks
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="mealtype" id="dessert">
                        <label class="form-check-label" for="dessert">
                          Dessert
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="mealtype" id="main_course">
                        <label class="form-check-label" for="main_course">
                          Main Course
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="mealtype" id="salad">
                        <label class="form-check-label" for="salad">
                          Salad
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="mealtype" id="starter">
                        <label class="form-check-label" for="starter">
                          Starter
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="mealtype" id="any_dish_type" checked>
                        <label class="form-check-label" for="any_dish_type">
                          Any
                        </label>
                      </div>

                    </div>
                  </div>
                </div>

                <!--- Time range filter -->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="filterFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapseFive" aria-expanded="false" aria-controls="filterCollapseFive">
                      Time range
                    </button>
                  </h2>
                  <div id="filterCollapseFive" class="accordion-collapse collapse" aria-labelledby="filterFive" data-bs-parent="#filtersAccordian">
                    <div class="accordion-body">
                      <p>Select the maximum preperation time:</p>
                      <input type="range" class="form-range" name="range" step="5" min="0" max="300" value="0" onchange="timeRangeSlider.value=value">
                      <input type="text" class="form-control" value="0" id="timeRangeSlider" style="width: auto;"></input>
                      <br>
                      <p><strong>Note:</strong> Time specified is in mins</p>

                    </div>
                  </div>
                </div>
              
              <!--- Excluded Ingredients filter -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="filterSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapseSix" aria-expanded="false" aria-controls="filterCollapseSix">
                    Negative Search
                  </button>
                </h2>
                <div id="filterCollapseSix" class="accordion-collapse collapse" aria-labelledby="filterSix" data-bs-parent="#filtersAccordian">
                  <div class="accordion-body">
                    
                    <div class="container">
                      <div class="row justify-center">
                        <div class="col-12">
                          <p>Enter ingredients which you <strong>DO NOT WANT</strong> in your dish:</p>
                          <div class="input-group mb-3">
                            <input id="typerem" type="text" class="form-control" placeholder="Remove ingredients" aria-label="Add an item" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-danger" id="remingredient" type="button">Remove</button>
                            </div>
                          </div>
                  
                        </div>
                        <p>Ingredients you don't want in your search will be listed here:</p>
                        <div class="col-12">
                          <ul class="list-group list-group-flush" id="rem_ingredients_list">

                          </ul>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            </div>       

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#ingredientsModal">Add ingredients</button>
              <button type="button" class="btn btn-primary"><a href="{{ url_for('results_page') }}" style="color:inherit;text-decoration: none">Find recipes</a></button>
            </div>
          </div>
        </div>
      </div>

      
      <!---##############################################################################################################################-->

      <!-- sortbyModal -->
      <div class="modal fade" id="sortbyModal" tabindex="-1" aria-labelledby="sortbyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="sortbyModalLabel">Sort Recipes By</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <div class="form-check">
                <input class="form-check-input" type="radio" id="sortby_alpha" name="sortby" checked>
                <label class="form-check-label" for="sortby_alpha">Alphabetical order</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="sortby_shorttime" name="sortby">
                <label class="form-check-label" for="sortby_shorttime">
                  Shortest to longest cooking time
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" id="sortby_longtime" name="sortby">
                <label class="form-check-label" for="sortby_longtime">
                  Longest to shortest cooking time
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" id="sortby_calories" name="sortby">
                <label class="form-check-label" for="sortby_calories">
                  Lowest to highest calories
                </label>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary"><a href="{{ url_for('results_page') }}" style="color:inherit;text-decoration: none">Sort</a></button>
            </div>
          </div>
        </div>
      </div>

      
      <footer class="text-muted py-5">
        <div class="container">
          <p class="float-end mb-1">
            <a href="#">Back to top</a>
          </p>
        </div>
      </footer>


      <!---##############################################################################################################################-->

      <!--- JQuery and Popper files -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

      <!--- JS used for add ingredients search bar -->>
      <script type="text/javascript" src="{{ url_for('static', filename='search.js')}}"></script>

    </body>
</html>