{% extends "base.html" %}

{% block head %}
{{super()}}
<link href="{{ url_for('static', filename='display_page.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}HomeCooks · Display{% endblock %}

{% block content %}

<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <!-- TITLE -->
      <a href="{{ url_for('results_page')}}" class="btn btn-outline-dark" role="button">Back</a>
      <h1 class="recipe_name">{{ display.title }}</h1>
      <br>
      <p class="image">
        <img src="{{ display.image }}" alt="recipe_image" style="width:100%;max-width:600px">
      </p>
      <br><br>

      <div class="row">
        <div class="col-2"></div>
        <div class="col">

          <!-- ALLERGENS -->
          <h3 class="allergens">{{ display.uri }}</h3>
          <div class="container">
            <div class="row">
              <div class="col-3">
                <ul class="list-style">
                  {% for a in display.healthLabels1 %}
                    <li class="fw-normal">{{ a }}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-3">
                <ul class="list-style">
                  {% for a in display.healthLabels2 %}
                    <li class="fw-normal">{{ a }}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>
      <br><br>

        <!-- INGREDIENTS -->
      <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
          <h3 class="ingredients">Ingredients</h3>
          {% for i in display.ingredients %} 
            <input type="checkbox" id="ing1">
            <label for="ing1">{{ i.text }}</label></br>
          {% endfor %}
        </div>
        <div class="col-1"></div>
        <div class="col-4">
          <!-- HOW TO MAKE -->
          <h3 class="procedure">Procedure</h3>
          <p class="fw-normal">To learn how to cook this recipe, click <a href={{ display.url }}>here!</a> </p>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-2"></div>
        <div class="col">
          <!-- NUTRITIONAL FACTS -->
          <h3 class="procedure">Nutrients per serving</h3>
          <p class="emphasis">Calories per serving: {{ display.calories }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
          <table class="table">
            <tbody>
              {% for nutrients in display.nutrient1 %} 
                <tr>
                  <th scope="row">{{ nutrients.label }}</th>
                  <td> {{ nutrients.quantity }}</td>
                </tr> 
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
          <table class="table">
            <tbody>
              {% for nutrients in display.nutrient2 %} 
                <tr>
                  <th scope="row">{{ nutrients.label }}</th>
                  <td> {{ nutrients.quantity }}</td>
                </tr> 
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}