{% extends "base.html" %}

{% block head %}
{{super()}}
<link href="{{ url_for('static', filename='display_page.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}HomeCooks · Display{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#ingredientsModal">
              Ingredients
            </button>              
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#filtersModal">
              Filters
            </button>
          </li>
          <!-- Button trigger sortbyModal -->
          <li class="nav-item">
            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#sortbyModal">
              Sort By
            </button>
          </li>
        </ul>
      </div>
    </nav>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

  <!-- carbonara recipe ref: https://damndelicious.net/2014/03/29/spaghetti-carbonara/ -->
  <div class="album py-5 bg-light">
    <div class="container">
      <!-- TITLE -->
      <a href="{{ url_for('results_page')}}" class="btn btn-outline-dark" role="button">Back</a>
      <h1 class="recipe_name">{{ recipes.label }}</h1>
      <p class="image">
        <img src="{{ recipes.image }}" alt="Pasta" style="width:100%;max-width:600px">
      </p>

      <div class="row">
        <div class="col-md-3">
          <!-- INGREDIENTS -->
          <h3 class="ingredients">Ingredients:</h3>
          <input type="checkbox" id="ing1">
          {% for i in recipes.ingredients %} 
            <label for="ing1"> {{ i.text }} </label><br>
            <input type="checkbox" id="ing2">
          {% endfor %}
        </div>

        <div class="col-md-9">

          <!-- ALLERGENS -->
          <div class="row">
            <div class="li">Allergens: <span class="emphasis">{{ recipes.healthLabels }}</span>
            </div>
          </div>

          <!-- HOW TO MAKE -->
          <h3 class="procedure">Procdedue</h3>
          
          <!-- NUTRITIONAL FACTS -->
          <h3 class="procedure">Nutritional Facts</h3>
          <p class="emphasis">Calories per serving: {{ recipes.calories }}</p>
          <table class="table">
            <tbody>
              {% for h in recipes.totalNutrients %} 
                <tr>
                  <td>{{ h.label }}</td>
                  <td>{{ h.unit }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    <div>
  </div>
</div>
</main>
{% endblock %}