{% extends "base.html" %}

{% block head %}
{{super()}}
<style>
  /* Change hover colour for primary button */
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #0275d8;
    background-color: #fff;
    border-color: #0275d8;
  }
  .html, .body {
    width: 100%;
    overflow-x: hidden;
  }

  
</style>
{% endblock %}

{% block title %}HomeCooks · Home Page{% endblock %}

{% block content %}


<main class="container-fluid row">
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to our landing page</h1>
      <p class="lead text-muted">HomeCooks is presented by <i>"int elligence;"</i> from UNSW SENG2021 2021 T1. To get started on finding a dish for you, click on <strong>Choose your ingredients</strong>.
      Click on <strong>Select filters</strong>, if you want dishes better suited to your needs.</p>
      
      <!--- Buttons for ingredients and filters -->
      <p>
        <button type="button" class="btn btn-primary btn-lg my-2" data-bs-toggle="modal" data-bs-target="#ingredientsModal">Choose your ingredients</button>
        <button type="button" class="btn btn-outline-primary btn-lg my-2" data-bs-toggle="modal" data-bs-target="#filtersModal">Select filters</button>
      </p>
    </div>
  </div>
</section>

<br>
  <!-- album template - recipes -->
  <div class="album py-5">
    <div class="container">
      <h4>In a hurry? Here are some suggestions:</h4>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-sm-3 g-3">

        <!---Loop and insert all recipes-->
        {% for r in recipes %}
        <div class="col">
          <div class="card shadow-sm">
            <img src={{r.image}} alt={{r.label}} style="width:100%">

            <div class="card-body">
              <h5 class="mt-0">{{r.label}}</h5>
              <a href="{{ url_for('display_page', recipe_id=r.url) }}" class="stretched-link"></a>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        {% endfor %}


      </div>    
    </div>
  </div>

</main>

{% endblock %}