{% extends "base.html" %}

{% block head %}
{{super()}}
<style>
  /* Change hover colour for primary button */
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #0275d8;
    background-color: #fff;
    border-color: #0275d8;
  }
  .html, .body {
    width: 100%;
    overflow-x: hidden;
  }

  
</style>
{% endblock %}

{% block title %}HomeCooks · Home Page{% endblock %}

{% block content %}


<main class="container-fluid row">
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to our landing page</h1>
      <p class="lead text-muted">HomeCooks is presented by <i>"int elligence;"</i> from UNSW SENG2021 2021 T1. To get started on finding a dish for you, click on <strong>Choose your ingredients</strong>.
      Click on <strong>Select filters</strong>, if you want dishes better suited to your needs.</p>
      
      <!--- Buttons for ingredients and filters -->
      <p>
        <button type="button" class="btn btn-primary btn-lg my-2" data-bs-toggle="modal" data-bs-target="#ingredientsModal">Choose your ingredients</button>
        <button type="button" class="btn btn-outline-primary btn-lg my-2" data-bs-toggle="modal" data-bs-target="#filtersModal">Select filters</button>
      </p>
    </div>
  </div>
</section>

<br>
<div style = "position:relative; left:80px; top:2px">
  <h4>Trending Recipes</h4>
</div>


<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{ url_for('static', filename='pasta.jpg')}}" alt="Pasta" style="width:100%;max-width:600px;height:225px">

          <div class="card-body">
            <h5 class="mt-0">Creamy Carbonara</h5>
            <a href="{{ url_for('display_page') }}" class="stretched-link"></a>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">Cooking time: 10 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

          <div class="card-body">
            <h5 class="mt-0">Recipe 2</h5>
            <a href="#" class="stretched-link"></a>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">Recipe time</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

          <div class="card-body">
            <h5 class="mt-0">Recipe 3</h5>
            <a href="#" class="stretched-link"></a>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">Recipe time</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

          <div class="card-body">
            <h5 class="mt-0">Recipe 4</h5>
            <a href="#" class="stretched-link"></a>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">Recipe time</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

          <div class="card-body">
            <h5 class="mt-0">Recipe 5</h5>
            <a href="#" class="stretched-link"></a>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">Recipe time</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

          <div class="card-body">
            <h5 class="mt-0">Recipe 6</h5>
            <a href="#" class="stretched-link"></a>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">Recipe time</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

          <div class="card-body">
            <h5 class="mt-0">Recipe 7</h5>
            <a href="#" class="stretched-link"></a>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">Recipe time</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

          <div class="card-body">
            <h5 class="mt-0">Recipe 8</h5>
            <a href="#" class="stretched-link"></a>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">Recipe time</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

          <div class="card-body">
            <h5 class="mt-0">Recipe 9</h5>
            <a href="#" class="stretched-link"></a>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">Recipe time</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</main>

{% endblock %}