{% extends "base.html" %}

{% block head %}
{{super()}}
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  /* Change hover colour for primary button */
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #0275d8;
    background-color: #fff;
    border-color: #0275d8;
  }
</style>
{% endblock %}

{% block title %}HomeCooks · Home Page{% endblock %}

{% block content %}

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to our landing page</h1>
      <p class="lead text-muted">HomeCooks is presented by <i>"int elligence;"</i> from UNSW SENG2021 2021 T1. To begin, start by either adding your current ingredients or start filtering the type of dishes suggested to you.</p>
      
      <!--- Buttons for ingredients and filters -->
      <p>
        <button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#ingredientsModal">Add an ingredient</button>
        <button type="button" class="btn btn-outline-primary my-2" data-bs-toggle="modal" data-bs-target="#filtersModal">Select filters</button>
      </p>
    </div>
  </div>
</section>

{% endblock %}